@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.login-title {
  width: 500px;
  height: 500px;
  margin-top: -20px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
.form {
  position: relative;
  z-index: 1;
  background: #201e1e8c;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  property: left;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #1851E5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #201e1e46;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #000;
  font-size: 12px;
}
.form .message a {
  color: #000;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
# Gallery Section / Room
--------------------------------------------------------------*/
#gallery {
  padding: 60px;
  overflow: hidden;
}
#gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
#gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f82249;
}
#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f82249;
}
#gallery .swiper-slide-active {
  text-align: center;
}
@media (min-width: 992px) {
  #gallery .swiper-wrapper {
    padding: 40px 0;
  }
  #gallery .swiper-slide-active {
    border: 5px solid #f82249;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.15);
    margin-top: 6px;
  }
}

/*
body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    <p class="message">Not registered? <a href="#">Create an account</a></p>
}*/
