
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

<style>
  body {
    background-color: aquamarine;
  }
</style>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ALO Conference Room Reservation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  </head>
  <!-- Favicons 
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->
  <link href="static/corr/images/alo.png" rel="icon">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

      
            <div class="container">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xs-12 col-sm-12 col-md-4 well well-sm" style="margin-top: -100px;">
                      <br><br><br><br>
                        <form action="" method="POST" class="form" role="form">
                          <h2 style=" margin-left: -10px; margin-top: 40px;">Reservation Details</h2>
                          {% csrf_token %}
                          <div class="form-group" style="margin-left: -100px;">
                            <label for="title">Date</label>
                          <span style="text-align: center;"> 
                                <input class="form-control" style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" id="id-date" name="udate" placeholder="date" type="date"
                                    required autofocus />
                          </span> 
                        </div>
                        <div class="form-group" style="margin-left: -100px;">
                          <label for="title">Start Time</label>
                          <select style="width: 500px; height: 40px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" name="ustartTime" id="id-startTime" class="form-control">
                              <option value="09:00">09:00</option>
                              <option value="10:00">10:00</option>
                              <option value="11:00">11:00</option>
                              <option value="13:00">13:00</option>
                              <option value="14:00">14:00</option>
                              <option value="15:00">15:00</option>
                              <option value="16:00">16:00</option>
                              <option value="17:00">17:00</option>
                              <option value="18:00">18:00</option>
                          </select>
                          </div><!--
                        <span style="text-align: center;"> 
                            <input class="form-control" id="id-startTime" name="startTime" placeholder="startTime" type="text"/>
                        </span> -->
                       
                        <div class="form-group" style="margin-left: -100px;">
                          <label for="title">End Time</label>
                          <select style="width: 500px; height: 40px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" name="uendTime" id="id-endTime" class="form-control">
                              <option value="09:00">09:00</option>
                              <option value="10:00">10:00</option>
                              <option value="11:00">11:00</option>
                              <option value="13:00">13:00</option>
                              <option value="14:00">14:00</option>
                              <option value="15:00">15:00</option>
                              <option value="16:00">16:00</option>
                              <option value="17:00">17:00</option>
                              <option value="18:00">18:00</option>
                          </select>
                          </div>
                          <!--
                        <span style="text-align: center;"> 
                            <input class="form-control" id="id-endTime" name="endTime" placeholder="endTime" type="text"/>
                        </span> -->
                        <br>

                        <!--
                        <span style="text-align: center;"> 
                          <input class="form-control" id="id-roomName" name="roomName" placeholder="roomName" type="text"/>
                        </span> -->
                       
                          <div class="form-group" style="margin-left: -100px;">
                            <select name="title" style="width: 500px; height: 40px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" id="id-title" class="form-control"> 
                              <option value="">Room Name</option>
                              {% for i in image %}
                                <option value="{{i.id}}">{{i.title}}</option>											
                              {% endfor %}
                            </select>
                           
                          </div>
                      
                        <!--
                       <div class="form-group" style="margin-left: -300px;">
                          <label for="title">Rooms</label>
                          <select style="width: 700px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" name="roomName" id="id-roomName" class="form-control">
                             <option style="background-color: #800000;" selected disabled >Vehicle Type</option> 
                            <option value="Room B">Blue Room Style</option>
                            <option value="Room O">Orange Room Style</option>
                            <option value="Room W">White Room Style</option>
                            <option value="Room BL">Black room Style</option>
                          </select>
                        </div>-->
                        <h2 style="margin-left: -10px; margin-top: 20px;">Personal  Details</h2>
                        <br>
                        <div class="form-group" style="margin-left: -100px; margin-bottom: -5px;">
                          <label for="title">Name</label>
                          <br>
                          <br>    
                          <span class="form-sub-label-container" style="vertical-align:top" data-input-type="prefix">
                            <select style="width: 500px; margin-top: -2px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000; font-size: 14px;" data-component="prefix" name="uprefix" id="id-prefix" class="dropdown-match-height form-dropdown validate[required]" type="text">
                              <option value="Mr."> Mr. </option>
                              <option value="Ms."> Ms. </option>
                            </select>
                          </span>
                          <br> 
                          <br>     
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-firstname" name="ufirstname" placeholder="Firstname" type="text"/>
                        </span> 
                        <br>
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-middlename" name="umiddlename" placeholder="Middlename" type="text"/>
                        </span> 
                        <br>
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-lastname" name="ulastname" placeholder="Lastname" type="text"/>
                        </span> 
                        </div>
                        <br>
                        <div class="form-group" style="margin-left: -100px;">
                          <span class="form-sub-label-container" style="vertical-align:top" data-input-type="prefix">
                            <select style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000; font-size: 14px;" data-component="gender" name="ugender" id="id-gender" class="dropdown-match-height form-dropdown validate[required]" type="text">
                              <option value="Female"> Female </option>
                              <option value="Male"> Male </option>
                            </select>
                          </span>
                          <br> 
                          <br> 
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-age" name="uage" placeholder="Age" type="text"/>
                        </span> 
                        <br>
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-address" name="uaddress" placeholder="Address" type="text"/>
                        </span> 
                        </div>
                        <br>
                        <h2 style="margin-left: -1px;">Contact  Details</h2>
                        <br>
                        <div class="form-group" style="margin-left: -100px;">
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-email" name="uemail" placeholder="Email" type="text"/>
                        </span> 
                        <br>
                        <span style="text-align: center;"> 
                          <input style="width: 500px; height: 30px; border-radius: 3px; box-shadow: inset 0 0 3px #000000;" class="form-control" id="id-number" name="unumber" placeholder="Number" type="text"/>
                        </span> 
                        </div>
                        <br> 
                        <h2 style="margin-right: -1px;">Price</h2>
                        <div class="form-group" style="margin-left: -100px;">
                        <span style="text-align: center;" name="price"> 
                          {% for i in image %}
                            <input value="{{i.title}}">{{i.price}}</input>											
                          {% endfor %}
                        </span>
                        </div>
                        <br>
                        <button style="margin-bottom: 20px; width: 400px; margin-left: -50px;" class="btn btn-lg btn-primary btn-block" type="submit" name="btnSUbmit">
                          Submit</button>
                          </div>
                          <br>
                          <br>
                        </form >   
                    </div> 
                </div>

              </div>
              <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            {% endblock content %}

            {% block script %}
            <!-- plugins:js -->
            <script src="{% static 'assets/vendor/js/vendor.bundle.base.js' %}"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>
            <script src="{% static 'assets/vendor/moment/moment.min.js' %}"></script>
            <script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
            <script src="{% static 'assets/vendor/chartist/chartist.min.js' %}"></script>
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="{% static 'assets/js/off-canvas.js' %}"></script>
            <script src="{% static 'assets/js/misc.js' %}"></script>
            <!-- endinject -->
            <!-- Custom js for this page -->
            <script src="{% static 'assets/js/dashboard.js' %}"></script>
            <!-- End custom js for this page -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
            
            {% endblock script %}